

#navbar {
    padding-left: 5%;
    max-width: 1000px;
    position: relative;
    display: inline;
     top: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
    text-align: right;
    flex: 1;
  
}
#navbar, #my {
text-align: left;
display: inline;
}

#icons {
    width:30px;
    cursor: pointer;
    flex: 1;
    text-align: right;
    display: inline;
}

#heading{
    color: rgb(57, 65, 65);
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 15px;
    margin-top: 0px;
    margin-bottom: 10pxpx;
    text-align: justify;
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   

}

 .about{
    width: 84px;
    color: aliceblue;
    border-style: solid;
    cursor: pointer;
    border-width: 1px;
    font-size: 10px;
    transition: opacity 0.2s;
    font-family: sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 4px;
    margin: 10px;
    display: inline;
   

}
.skill{
    width: 84px;
    color: aliceblue;
    border-style: solid;
    cursor: pointer;
    border-width: 1px;
    font-size: 10px;
    transition: opacity 0.2s;
    font-family: sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 8px;
    margin: 10px;
    display: inline;
    cursor: pointer;
}

.project{
    width: 84px;
    color: aliceblue;
    border-style: solid;
    cursor: pointer;
    border-width: 1px;
    font-size: 10px;
    transition: opacity 0.2s;
    font-family: sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 4px;
    margin: 10px;
    display: inline;
}

.contact{
    width: 84px;
    color: aliceblue;
    border-style: solid;
    cursor: pointer;
    border-width: 1px;
    font-size: 10px;
    transition: opacity 0.2s;
    font-family: sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 4px;
    margin: 10px;
    display: inline;
}



.introduction{
     padding: 20px 2opx;
    margin: 20px 20px;

     
}
  
h3 {
    text-decoration:none;
    justify-content: left;
    font-weight: 100;
    align-items: start;
    display: inline;
    margin: 10px 10px;
    padding: 10px 10px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  .First-project{
    padding: 10px 10px;
    margin: 10px 10px;

  }

  .second-project {
    padding: 10px 10px;
    margin: 10px 10px;

  }
  
.links {
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
 

}

  .about:hover {
    background-color: rgb(59, 127, 182);
    opacity: 0.5;
}

.skill:hover {
    background-color: rgb(59, 127, 182);
    opacity: 0.5;
}

.project:hover {
    background-color: rgb(59, 127, 182);
    opacity: 0.5;
}

.contact:hover {
    background-color: rgb(59, 127, 182);
    opacity: 0.5;
}
h3{
    margin-left: 10px;
    font-family:  sans-serif;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

h4{
    margin-left: 10px;
    display: inline;
}


#skill{
   

   font-size: 24px;
   color: inherit;
   border:0.0 solid #ccc;
   width: 40px;
   height: 40px;
   line-height: 38px;
   display: inline;
   text-align: center;
   margin: 20 20px;
   opacity: 0.75;
   padding: 10px 10px;
   margin: 10px 10px;


}

.css{
    margin: 10px;
}

 .html{
    margin: 10px;
}

 .js{
    margin: 10px;
 }

 .node{
    margin: 10px;
 }

 .git{
    margin: 10px;
 }

 .github{
    margin: 10px;
 }

 .database{
    margin: 10px;
 }

 .react{
    margin: 10px;
 }


.footer {
    padding: 40px 0;
    background-color: #fff;
    margin-bottom: 0%;
}

.footer .social{
    text-align: center;
    padding-bottom: 15px;
    color: #4d4b4d;


}

.footer .social a{
   font-size: 24px;
   color: inherit;
   border: 1px solid #ccc;
   width: 40px;
   height: 40px;
   line-height: 38px;
   display: inline-block;
   text-align: center;
   border-radius: 50%;
   margin: 0 8px;
   opacity: 0.75;


}



