

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-weight: 400;

}
@media (max-width: 899px) {
       
        #navbar {
            padding-left: 5%;
            max-width: 1000px;
            position: relative;
            display: inline;
            justify-content: right;
            align-items: flex-end;
            top: 15px;
            margin-top: 5%;
            margin-bottom: 10px;
            padding: 5px;
          
        }
    }


#heading{
    color: rgb(6, 7, 7);
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align:left;
    display: inline;
    
  
    

}

 .about{
    width: 84px;
    color: aliceblue;
    border-style: solid;
    cursor: pointer;
    border-width: 1px;
    font-size: 10px;
    transition: opacity 0.2s;
    font-family: sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 4px;
    margin: 10px;
    display: inline;
   

}
.skill{
    width: 84px;
    color: aliceblue;
    border-style: solid;
    cursor: pointer;
    border-width: 1px;
    font-size: 10px;
    transition: opacity 0.2s;
    font-family: sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 8px;
    margin: 10px;
    display: inline;
}

.project{
    width: 84px;
    color: aliceblue;
    border-style: solid;
    cursor: pointer;
    border-width: 1px;
    font-size: 10px;
    transition: opacity 0.2s;
    font-family: sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 4px;
    margin: 10px;
    display: inline;
}

.contact{
    width: 84px;
    color: aliceblue;
    border-style: solid;
    cursor: pointer;
    border-width: 1px;
    font-size: 10px;
    transition: opacity 0.2s;
    font-family: sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 4px;
    margin: 10px;
    display: inline;
}

#icon{
    max-width: 30px;
    cursor: pointer;
    align-content: right;
    display: inline-block;
    text-align: center;
}

.introduction{
     line-height: 20px;
     margin-top: 0px;
     margin-left: 10px;
     text-align: center;
}

  .about:hover {
    background-color: rgb(59, 127, 182);
    opacity: 0.5;
}

.skill:hover {
    background-color: rgb(59, 127, 182);
    opacity: 0.5;
}

.project:hover {
    background-color: rgb(59, 127, 182);
    opacity: 0.5;
}

.contact:hover {
    background-color: rgb(59, 127, 182);
    opacity: 0.5;
}
h3{
    margin-left: 10px;
    font-family:  sans-serif;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

h4{
    margin-left: 10px;
    display: inline;
}



.gmail, .linkedin, .github{
    margin-left: 10px;
    display: inline;
    text-align: center;
    align-items: left;
}

.css{
    margin: 3px;
}

 .html{
    margin: 3px;
}

 .js{
    margin: 3px;
 }

 .node{
    margin: 3px;
 }

 .git{
    margin: 3px;
 }

 .github{
    margin: 3px;
 }

 .database{
    margin: 3px;
 }

 .react{
    margin: 3px;
 }

 

.footer {
    padding: 40px 0;
    background-color: #fff;
}

.footer .social{
    text-align: center;
    padding-bottom: 40px;
    color: #4d4b4d;


}

.footer .social a{
   font-size: 24px;
   color: inherit;
   border: 1px solid #ccc;
   width: 40px;
   height: 40px;
   line-height: 38px;
   display: inline-block;
   text-align: center;
   border-radius: 50%;
   margin: 0 8px;
   opacity: 0.75;


}

.footer .social a: hover{
  opacity: 0.9;
}
